.table {
    width: 100%;
    border-collapse: collapse;
}
th,td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
 th {
    background-color: orange;
    font-size: 18px;
    text-transform: uppercase;

}
td {
    background-color: rgb(212, 255, 0);
}
. {margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.h1,h2 {
    color: rgb(0, 166, 255);
    font-size: 60px;
    text-align: left;
    margin-top:12px ;
    text-shadow: 2pz 2px 5px rgba(0,0,0.5);

}
.paragraph {
    color: black;
    font-size: 16px;
    text-align: center;
    margin-top:20px ;
    padding: 0 15px;
}
.contact {
    color: blueviolet;
}
.contact a:hover {
    text-decoration: underline;
}